body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(217, 129, 125, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 30px;
    margin: 0 auto;
}
.grid-item{
    width: 130px;
    height: 180px;
    border-radius: 8px;
    background-color: rgb(250, 213, 4);
    animation: closeAnimation 1s forwards;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.open{
    animation: openAnimation 1s forwards;
    background-image: none;
}
@keyframes openAnimation{
    100%{
        transform: rotateY(180deg);
       background-color: #fff;
    }
}
@keyframes closeAnimation{
    100%{
        transform: rotateY(180deg);
        background-color: rgb(250, 213, 4);
    }
}
.first{
    background-image: url(../images/first.jpg);
}
.second{
    background-image: url(../images/second.jpg);
}
.third{
    background-image: url(../images/third.jpg);
}
.four{
    background-image: url(../images/four.jpg);
}
.five{
    background-image: url(../images/five.jpg);
}
.six{
    background-image: url(../images/six.jpg);
}
.seven{
    background-image: url(../images/seven.jpg);
}
.eight{
    background-image: url(../images/eight.jpg);
}